html {
    background-color: #282828;

}
* {
    box-sizing: border-box;
}
body {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    line-height: 22px;
}

a {
    text-decoration: none;
}

.flex-center {
    justify-content: center;
}

.container-h {
    text-align: center;
    padding: 100px 0 103px 0;
}

/* Цвет для span */
.span-crimson {
    color: #ff0036;
}

.span-white {
    color: #fff;
    
}

/* Определение шрифтов */
h2 {
    font-family: "RalewayBold";
    font-size: 30px;
    color: #262626;
}

h3 {
    font-family: "LatoBold";
    font-size: 16px;
    color: #505050;
}

h4 {
    font-family: "RalewayMedium";
    font-size: 20px;
    color: #262626;
    text-transform: uppercase;
}

h5 {
    font-family: "LatoBlack";
    font-size: 50px;
}

h6 {
    font-family: "RalewaySemiBold";
    font-size: 20px;
    color: #2e2e2e;
}

p {
    font-family: "LatoRegular";
    font-size: 16px;
    color: #505050  ;
}



/* Header CSS */
header {
    background-image: url('/img/bg-image.jpg');
    height: 700px;
}

.header-top {
    background-color: rgba(9,9,13,0.5);
    height: 70px;    
}

.header-logo { 
    position: absolute;
    margin-left: 116px;
}

.nav-ul {
    margin: 0 0 0 410px;
    padding: 0;
    text-align: center;
}

.nav-ul li {
    display:  inline-block;
    margin: 0 33px 0 0;
}

li a {
    font-family: "RalewayRegular";
    color: #a4a4a4;
    font-size: 18px;
    text-transform: uppercase;
}

li a::after,
li a::before   {
 border: 2px solid rgba(255, 0, 54, 0);
 bottom: 0px;
 left: 0px;
 content: " ";
 display: block;
 margin: 0px auto;
 position: relative;
 width: 0;
}

li a::after {
    margin-top: 21px;
}

li a::before {
    margin-top: 2px;
    margin-bottom: 16px;
}

li a:hover::after,
li a:hover::before  {
    border-color: rgb(255, 0, 54);
    width: 70%;
    transition-duration: 0.3s;
}

li a:hover {
    color: #fff;
    font-weight: 800;
    transition-duration: 0.3s;

}
    
.header-main {
    width: 1004px;
    text-align: center;
    margin: 180px 0 0 200px;
}

.header-main-p {
    margin-top: 45px;
    line-height: 24px;
}

button {
    font-family: "RalewayMedium";
    color: #fff;
    background-color: #131313;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    width: 171px;
    height: 51px;
    margin: 50px 30px 0 0;
}
.header-main button:hover{
    background-color: #ff0036;
}

/* About */

.about {
    background-color: #fff;
    height: 1280px;
}

.container-h h3 {
    margin-top: 52px;
}

.about-hidden-img {
    float: right;
    margin: 0 115px 0 30px;
}

.about-hidden-text {
    margin-left: 115px; 
    text-align: justify;
}

/**
 * Компоненты аккордеона.
 */
.accordion {
  margin: 43px 0 0 0 ;
  padding: 0;
  list-style: none;
}

.accordion_item {
  border: 2px solid #e7e7e7;
  margin-bottom: 11px;
  width: 570px;
}

/**
 * Элемент label который запускает открыть/закрыть.
 */
.accordion_trigger {
  display: flex;
  background-color: #f7f7f7;
  color: #262626;
  cursor: pointer;
  padding: 0;
  height: 40px;
  position: relative;
}

.toogle_icon {
    background-image: url(/img/plus2.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    width: 63px;
    height: 40px;
    border-right: 2px solid #e7e7e7;
}

.toogle_h4 {
    font-family: "RalewayMedium";
    font-size: 20px;
    font-weight: normal;
    margin: 8px 0 0 33px ;
}


.accordion_toggle:checked ~ .accordion_trigger figure{
    background-image: url(/img/minus2.png);
}

/* меняем цвет текста у активного переключателя */
.accordion_toggle:checked ~ .accordion_trigger {
  color: #ff0036;
  border-bottom: 2px solid #e7e7e7;
}


/**
 * эти элементы radio/checkbox всегда должны быть скрыты.
 */
.accordion_toggle {
  position: absolute;
  display: none;
}

/**
 * скрытое содержание аккордеона.
 */
.accordion_target {
  border: 0;
  clip: rect(0 0 0 0);
  max-height: 0;
  margin: 0px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  background-color: #ddd;
  color: #444;  
}
/**
* когда переключатель checked на radio/checkbox, показать содержимое аккордеона.
*/
.accordion_toggle:checked ~ .accordion_target {
  background-color: #fff;
  position: static;
  overflow: visible;
  width: 100%;
  height: 100%;
  max-height: 800px;
  margin: auto;
  clip: auto;
  padding: 0.8rem;
 /* задержка появления  функция анимации */
 -webkit-animation:fadeIn ease-in 0.7s; 
 -moz-animation:fadeIn ease-in 0.7s;
 animation:fadeIn ease-in 0.7s;
 transition: max-height 0.9s linear;
}

.accordion_toggle:checked ~ .accordion_target p {
    font-family: "LatoRegular";
    font-size: 14px;
    color: #505050;
    margin: 0;
}
/* анимация при появлении блоков с содержанием */
@-moz-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}

.separation-line {
    margin-bottom: 105px;
}

.line {
    background-color: #262626;
    width: 514px;
    height: 1px;
    margin-top: 110px;
}

.line-hexagon {
    text-align: center;
    position: relative;
    margin-top: -21px;
}

.top-line img {
    margin-top: 2px;
}

.about-card {
    display: flex;
    margin: 97px 0 102px 100px;
}

.card-container {
    width: 271px;
    height: 225px;
    text-align: center;
    margin-right: 40px;
}

.card-container:last-child {
    margin-right: 0;
}

.hexagon {
    margin-bottom: 35px;
}
.card-container h4 {
    margin-bottom: 24px;
}
.card-container p {
    text-align: center;
}

/* Portfolio */

.portfolio {
    background-color: #262626;
    padding-top: 105px;
}

.portfolio-h {
    padding: 0;
}

.container-h3 {
    margin-left: 20px;
}

.portfolio-h h3 {
    display: inline-block;
    text-transform: uppercase;
    margin: 23px 0 99px 25px;
}

h3 a {
    color: #a4a4a4 ;
}

h3 a:hover {
    color: #ff0036;
}

.portfolio-img-row {
    display: flex;
}

.portfolio-img-row:last-child {
    margin: -6px 0 104px 0;
    padding-top: 0px;
}

.img {
    position: relative;
}

.img-text-hidden {
    position: absolute;
    top: 45%;
    left: 38%;
    text-align: center;
    display: none; 
}

.img-text-hidden p {
    color: #fff;
}

.img:hover .op {
    opacity: 0.04;
}

.img:hover .img-text-hidden{
    display: block;
}
 /* Product */
.product {
    background-color: #fff;
    height: 1050px;
}

.top-line hr{
    background-color: #ff0036;
    border-color: #ff0036;
    height: 0.2pt;
    margin-top: 0;
}

.product-line img {
    margin-top: 2px;
}

.container-column {
    height: 595px;
    position: relative;
}

.flex-container {
    display: flex;
    padding:  0 115px;
}

.column-switch {
    margin-top: 78px;
    text-transform: uppercase;
}

.left .container-switch  {
    justify-content: flex-end;
}

.left h4 {
    margin-right: 10px ;
}

.right h4 {
    margin-left: 10px;
}

.container-switch {
    width: 370px;
    height: 52px;
    border: 2px solid #e7e7e7;
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    padding: 0 21px;
}

.container-switch:hover{
    background-color: #ff0036;
    border-color: #ff0036 ;
    color: #ff0036;
}

.container-switch:hover h4 {
    color: #fff;
} 

.container-switch:hover .trapeza1{
   border-bottom: 16px solid #fff;
}

.container-switch:hover .trapeza2{
   border-top: 16px solid #fff;
}


.hexagon-switch {
    position: relative;
    width: 37px;
    height: 32px;
}

.hexagon-switch i{
    position: absolute;
    left: 11px;
    bottom: 8px;
}
.trapeza1 {
    border-bottom: 16px solid #e7e7e7;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    height: 0px;
    width: 37px;
}

.trapeza2 {
    border-top: 16px solid #e7e7e7;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    height: 0px;
    width: 37px;
}

.container-img {
    margin: 0 36px;
    position: relative;
    z-index: 2;
}

.hexagon-tablet {
    width: 473px;
    position: absolute;
    left: 467px;
    bottom: -2px;
}

.trapeza-1 {
    border-bottom: 206px solid #4c4c4c;
    border-left: 119px solid transparent;
    border-right: 119px solid transparent;
    height: 0px;
    width: 473px;
}

.trapeza-2 {
    border-top: 206px solid #262626;
    border-left: 119px solid transparent;
    border-right: 119px solid transparent;
    height: 0px;
    width: 473px;
    position: relative;
}

.trapeza-2 button {
    background-color: #393939;
    position: absolute;
    z-index: 1;
    top: -170px;
    left: 33px;
}

/* Our Clients */
.our-clients {
    background-image: url(/img/bg-our.jpg);
    height: 652px;
}

.our-h {
    padding:  80px 0 80px 0;
}

.our-h h3 {
    color: #818080;
    margin-bottom:  0;
}

.our-container {
    display: flex;
    height: 280px;
    margin-left: 143px;
}


.our-text {
    width: 900px;
    height: 273px;
    text-align: center;
    margin-right: 44px;
}

.our-text h4 {
    color: #fff;
    margin: 0 0 40px 0;
}

.our-text p {
    color: #a4a4a4;
    margin-bottom: 40px;
}

.our-text h5 {
    font-family: "RalewayBold";
    font-size: 16px;
    color: #ff0036;
    text-transform: uppercase;
    margin: 16px 0 26px 0;
}

.our-small-block div {
    border-bottom: 8px solid #fff;
    width: 8px;
    display: inline-block;
}

.our-small-block div:nth-child(2) {
    border-bottom: 8px solid #ff0036;
}

.our-image img {
    margin: 0 30px 28px 0;
}

/* Our Teamwork */
.our-teamwork {
    background-color: #fff;
    height: 1517px;
}

.our-teamwork-h {
    padding-top: 85px;
}

.teamwork-flex {
    display: flex;
}

.teamwork-card {
    margin-right: 30px;
    position: relative;
}

.teamwork-card:last-child {
    margin-right: 0;
}

.img-hover {
    background-color: #262626;
    width: 270px;
    height: 240px;
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 100px;
    display: none;
}

.img-hover a {
    margin-right: 10px;
}

.img-hover a:last-child {
    margin-right: 0;
}

.teamwork-card:hover h4 {
    color: #ff0036 ;
}

.teamwork-card:hover .img-hover {
    display: block;
}

.teamwork-card:hover .card-h {
    border: 1.3px solid #262626;
}

.card-h {
    border: 1px solid #e7e7e7;
    margin-top: -5.8px;
    text-align: center;
    padding: 32px 0;
}

.card-h h4 {
    margin: 0 0 22px 0;
}


/* Our Skills */

.our-skills-h {
    padding: 0px 0 103px 0;
}

.our-skills-flex {
    display: flex;

}

.our-skills-card {
    width: 156px;
    text-align: center;
    margin-right: 48px;
}

.our-skills-card:last-child {
    margin-right: 0;
}


/* Our Services */

.our-services {
    background-color: #272727;
    height:  1224px;
}

.our-services h3 {
    color: #a4a4a4;
}

.our-services-flex {
    display: flex;
    flex-wrap: wrap;
}

.our-services-container {
    width: 571px;
    margin-bottom: 57px;
}

.our-services-container:nth-child(odd) {
    margin-right: 32px;
}

.our-services-container:hover .trapeza3 {
    border-bottom: 29px solid #ff0036;
}

.our-services-container:hover .trapeza4 {
    border-top: 29px solid #ff0036;
}

.our-services-container:hover i {
    color: #fff;
}

.our-services-container:hover .container-contents {
    background-color: #3d2329;
}
.our-services-container:hover .container-contents p {
    color: #fff;
}


.container-titles {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.hexagon-titles {
    position: relative;
    width: 66px;
    height: 58px;
    text-align: center;
    margin-right: 32px;
}

.hexagon-titles i{
    position: absolute;
    font-size: 25px;
    color: #262626;
}

.hexagon-titles .i-1 {
    left: 17px;
    bottom: 15px;
}

.hexagon-titles .i-2 {
    left: 22px;
    bottom: 15px;
}

.hexagon-titles .i-3 {
    left: 20px;
    bottom: 15px;
}

.trapeza3 {
    border-bottom: 29px solid #a4a4a4;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    height: 0px;
    width: 66px;
}

.trapeza4 {
    border-top: 29px solid #a4a4a4;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    height: 0px;
    width: 66px;
}

.container-titles h4 {
    color: #fff;
}

.container-contents {
    background-color: #343434;
    width: 571px;
    height: 121px;
}

.container-contents p {
    color: #a4a4a4;
    word-spacing: 2px;
    padding: 28px 29px 32px 36px;

}

/* Plans Bestseller */
.plans {
    background-color: #fff;
    height: 963px;
}

.reseller-flex {
    display: flex;
}

.reseller-card {
    margin-right: 29px;
    width: 270px;
}

.reseller-card:last-child {
    margin-right: 0;
}

.reseller-card:hover .reseller-price {
    background-color: #ff0036;
    color: #fff;
}

.reseller-card:hover .reseller-price sub {
    color: #fff;
}

.reseller-card:hover .reseller-button button {
    background-color: #ff0036;
    color: #fff
}


.reseller-card-h {
    background-color: #262626;
    height: 48px;
    text-align: center;
    padding-top: 12px;
}

.reseller-card-h h4 {
    color: #fff;
    margin: 0;
}

.reseller-price {
    background-color: #f2f2f2;
    height: 87px;
    text-align: center;
    padding-top: 30px;
}

.reseller-price h5 {
    display: inline-block;
}

.reseller-price h5 {
    margin: 5px 0 0 35px;
}

.reseller-price sub {
    font-family: "LatoRegular";
    font-size: 16px;
    color: #262626;
    bottom: -0.12em;
}

.reseller-features {
    color: #262626;
    border: 2px solid #e7e7e7;
    border-top: 0px  solid transparent;
    height: 50px;
    padding-top: 15px;
    text-align: center;
}

.reseller-features p {
    /* margin: 0; */
}

.reseller-button {
    height: 78px;
    padding-top: 20px;
}

.reseller-button button {
    font-family: "RalewayRegular";
    background-color: #262626;
    color: #fff;
    font-size: 18px;
    width: 228px;
    height: 38px;
    border: none;
    text-transform: uppercase;
    margin: 0;
}

/* Twitter */
.twitter {
    background-image: url(/img/twitter-bg.jpg);
    height: 294px;
    padding: 100px 0 0 371px;
}

.twitter-container {
    text-align: center;
    width: 644px;
}

.twitter-container i {
    color: #ff0036;
    font-size: 40px;
    margin-bottom: 24px;
}

.twitter-container p {
    color: #fff;
}

/* Our Blog */

.our-blog {
    background-color: #fff;
    height: 911px;
}

.our-blog-h {
    padding-bottom: 80px;
}

.our-blog-flex {
    display: flex;
    margin-bottom: 50px;
}

.flex-img {
    margin-right: 32px;
}

.flex-text {
    width: 580px;
}

.flex-text-h h6 {
    margin: 0;
}

.flex-text-user-stats {
    margin: 14px 0;
}

.flex-text-user-stats .f {
    font-size: 12px;
    color: #a2a2a2;
}

.flex-text-user-stats p {
    display: inline-block;
    margin: 0 15px 0 6px;
}

.flex-text p {
    text-align: justify;
}

.flex-text-p {
    margin-bottom: 24px;
}

.flex-text-button button {
    background-color: #262626;
    color: #fff;
    font-size: 16px;
    width: 120px;
    height: 40px;
    margin: 0;
}

.flex-text:hover .flex-text-button button {
    background-color: #ff0036;
}

/* Follow Creativia */
.follow {
    background-image: url(/img/bg-follow.jpg);
    height: 383px;
}

.follow-h {
    padding: 75px 0 36px 0;
}

.follow-hexagon-flex {
    display: flex;
}

.follow-hexagon {
    margin-right: 50px;
    text-align: center;
}

.follow-hexagon:last-child {
    margin-right: 0;
}

.hexagon-img {
    background-image: url(/img/hollow-hexagon.png);
    background-repeat: no-repeat;
    width: 76px;
    height: 68px;
}

.hexagon-img:hover {
    background-image: url(/img/filled-hexagon.png);
}

.hexagon-img:hover a {
    color: #fff;
}

.hexagon-img a {
    color: #ff0036;
    display: inline-block;
    margin-top: 20px;
}

.i-hexagon {
    margin-right: 5px;
}

.hexagon-img i {
    font-size: 25px;
}

.follow-hexagon p {
    color: #fff;
    margin-top: 30px;
}

/* Fine us here */
.fine {
    background-color: #fff;
    height: 929px;
}


.fine-map {
    background-image: url(/img/bg-fine.jpg);
    height: 575px;
    position: relative;
}

.fine-map img {
    position: relative;
    top: 253px;
    left: 251px;
}

.send-message {
    background-color: #fff;
    position: absolute;
    width: 470px;
    height: 475px;
    bottom: 0;
    left: 681px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
    padding: 48px 49px;
}

form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

form legend h4 {
    margin: 0 0 50px 0;
}

form input {
    font-family: "LatoRegular";
    font-size: 16px;
    color: #505050;
    display: block;
    border: 2px solid #e7e7e7;
    margin-bottom: 18px;
    width: 376px;
    height: 33px;
    padding-left: 14px;
}

form input:nth-last-child(2) {
    height: 86px;
}

form button {
    background-color: #262626;
    width: 120px;
    height: 41px;
    margin: 9px 0 0 0;
    position: relative;
    left: 254px;
}

/* Footer */
footer {
    background-image: url(/img/footer-bg.jpg);
    height: 79px;
}
